@model IEnumerable<Agence_de_Voyages.Models.UsersModel>

@{
    ViewData["Title"] = "Users Page";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<tr>
    <td>
        <a class="btn-success" asp-action="Edit" asp-route-id="">Edit</a> |
        <a class="btn-secondary" asp-action="Details" asp-route-id="">Details</a> |
        <a class="btn-danger" asp-action="Delete" asp-route-id="">Delete</a>
    </td>
</tr>
    @*  @foreach (var item in Model)
        {
            <tr>
               <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a class="btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
         } *@
    </tbody>
</table>




