@model IEnumerable<Agence_de_Voyages.Models.Destination>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    <h1>Destination Management</h1>
</div>


<div class="d-inline-flex p-2">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
</div>
<table class="table table-striped table-light table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalTransport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceEstimate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalTransport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceEstimate)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.DestinationId">Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.DestinationId">Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DestinationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
