@model Agence_de_Voyages.Models.Tour

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-center">
    <h1>Tour Delete</h1>
</div>

<h3 class="p-2">Are you sure you want to delete this?</h3>
<div class="p-2">
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_of_departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TourId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
