@model Agence_de_Voyages.Models.Tour

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center">
    <h1>Tour Details</h1>
</div>

<div class="p-4">
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_of_departure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_of_departure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
    </dl>
</div>
<div class="p-2">
    <a asp-action="Edit" asp-route-id="@Model?.TourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
