@model IEnumerable<Agence_de_Voyages.Models.Venue>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    <h1>Venue Management</h1>
</div>


<div class="d-inline-flex p-2">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
</div>
<table class="table table-striped table-light table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostIndicator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasFreeWiFi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerNight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuisineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryFee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostIndicator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasFreeWiFi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerNight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuisineType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.VenueId">Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.VenueId">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.VenueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
